body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.employee-details-container {
    width: 500px;
    height: 350px;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h3 {
    text-align: center;
    color: #333;
}

.details-section {
    margin-top: 20px;
}

.details-section h3 {
    margin-bottom: 10px;
}

.employeeList-link {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: white;
    justify-self: right;
    text-decoration: none;
    border-radius: 20px;
    width: 30%;
    margin: 15px auto;
}

.employeeList-link:hover {
    background-color: #b1b6ba;
}

