body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.employee-list-container {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h1 {
    text-align: center;
    color: #333;
}

.add-employee-link {
    display: block;
    text-align: center;
    margin: 15px 0;
    padding: 10px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    width: 20%;
}

.add-employee-link:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #8da6ba;
    color: white;
}

.actions-column {
    display: flex;
    justify-content: space-evenly;
   
}

.actions-column a, .actions-column button {
    padding: 8px;
    margin-right: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;

}


.actions-column a:hover {
    background-color:  #b1b6ba;
}

.viewButton{
    background-color: #3498db;
    color: white;
}

.editButton{
    background-color: #111213;
    color: white;
}

.actions-column button {
    background-color: #e74c3c;
    color: white;
}

.actions-column button:hover {
    background-color:  #b1b6ba;
}

.logOutButton {
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-left: 328px;
    padding: 10px;
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    width: 15%;

  
}